body{
    background-color: #FFE81A;
    margin: 0;
    padding: 0;
}

#image_html{
    padding: 0;
    margin-right: 20%;
    float: right;
    width: 25%;
}

#pessoa_html{
    margin-top: 10%;
    margin-left: 15%;
    float: left;
    width: 38%;
}

#construa_html{
    margin-top: 3%;
    float: left;
    width: 30%;
}

#botao_iniciar{
    margin-top: 4%;
    margin-left: 4.8%;
    float: left;
    width: 25%;
    cursor: pointer;
}

p{
    color: white;
}