body{
    background-color: #FFE81A;
    margin: 0;
    overflow-x: hidden;
}

#exit{
    position: fixed;
    width: 100px;
    margin-top: 20px;
    margin-left: 1130px;
    z-index: 1;
}

#titulo1{
    margin-top: 10px;
    margin-left: 82px;
}

#texto1{
    margin-top: 10px;
    margin-left: 190px;
    font-size: 30px;
    width: 625px;
    color: white;
    font-family: 'League Spartan';
}

#pessoa1{
    position: absolute;
    margin-top: -190px;
    margin-left: 860px;
}


#titulo2{
    margin-left: 700px;
    margin-top: 100px;
}

#texto2{
    margin-left: 420px;
    font-size: 30px;
    width: 675px;
    color: white;
    font-family: 'League Spartan';
    margin-top: -10px;
    text-align: right;
}

#pessoinhas2{
    position: absolute;
    margin-top: -350px;
}

#titulo3{
    margin-left: 50px;
    margin-top: 30px;
}

#imagem3{
    margin-left: 110px;
}

.lista{
    font-family: 'League Spartan';
    font-size: 30px;
    color: white;
    display: inline-block;
    width: 1000px;
    margin-left: 100px;
}

#titulo4{
    margin-left: 320px;
    margin-top: 20px;
}

#texto4{
    margin-left: 340px;
    font-size: 30px;
    width: 800px;
    color: white;
    font-family: 'League Spartan';
    margin-top: 10px;
    text-align: right;
}

#imagem4{
    position: absolute;
    margin-top: -310px;
}

.titulo{
    text-align: center;
}

.comecando{
    text-align: center;
    font-family: 'League Spartan';
    font-size: 30px;
    color: white;
    margin: 30px;
}

.codigo{
    background-color: #4C471E;
    color: white;
    border-radius: 28px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'League Spartan';
    width: 1100px;
    margin-left: 60px;
}

.codigo laranja{
    color: #D18327;
}

#img6{
    margin-top: 30px;
    margin-left: 200px;
}

#titulo6{
    position: absolute;
    margin-left: 360px;
    margin-top: -5px;
}

#texto6{
    position: absolute;
    margin-left: 600px;
    font-size: 30px;
    width: 550px;
    color: white;
    font-family: 'League Spartan';
    margin-top: -250px;
    text-align: right;
}

#ultima{
    margin-left: 50px;
}
